.state1 {
	color: #aaa;
}

.state2 {
	color: #000;
}

.error {
	color: #f60;
	font-size: 12px;
}

.success {
	color: #089e21;
	font-size: 12px;
}

.onError {
	color: #f60;
	font-size:12px;
}

.onSuccess {
	color: #089e21;
	font-size:12px;
}
