<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.tlal.vms.vms.func.user.finishbook.dao.FinishSBookDAO"><!-- 映射到手工编写的映射器UserDAO -->
	<!-- 添加FinishSBook记录 -->
	<insert id="addFinishSBook" parameterType="com.tlal.vms.vms.func.user.finishbook.entity.FinishSBook">
		 INSERT INTO FINISHSBOOK
		 (	 IDSBOOK,USERID,CARID,
		 	 LESSEE,LEASE,STARTDATE,
		 	 ENDDATE,USEDEPT,ISEXPIRE,
		 	 ACTUAL_DATE,DRIVER,COMMENT
		 ) 
		 VALUES
		 (	 #{idsbook,jdbcType=VARCHAR},
			 #{userid,jdbcType=VARCHAR},
			 #{carid,jdbcType=VARCHAR},
			 #{lessee,jdbcType=VARCHAR},
			 #{lease,jdbcType=VARCHAR},
			 #{startdate,jdbcType=DATE},
			 #{enddate,jdbcType=DATE},
			 #{usedept,jdbcType=VARCHAR},
	 		 #{isexpire,jdbcType=VARCHAR},
	 		 #{actual_date,jdbcType=DATE},
	 		 #{driver,jdbcType=DATE},
	 		 #{comment,jdbcType=DATE}
	 	 )	 		
	</insert>
	<!-- 分页查找FinishSBook表的记录 -->
	<select id="findFinishSBookByPage" parameterType="com.tlal.vms.vms.func.user.finishbook.action.UserFinishSBookSearch" 
			resultType="com.tlal.vms.vms.func.user.finishbook.pojo.UserFinishSBookPOJO">
		SELECT A.IDSBOOK as idsbook,A.USERID as userid,A.CARID as carid,A.LESSEE as lessee,A.LEASE as lease,A.STARTDATE as startdate,
			A.ENDDATE as enddate,A.USEDEPT as usedept,A.ISEXPIRE as isexpire,A.ACTUAL_DATE as actual_date,A.DRIVER as driver,
			A.COMMENT as comment,B.NAME as username,C.NAME as name,C.PLATE_NUM as plate_num,C.TYPE as type,C.ORIGIN as origin
			FROM FINISHSBOOK A,USER B,CAR C
				<where>
				A.USERID = B.USERID AND A.CARID = C.CARID
				<if test='userid != null and !"default".equals(userid)'>
				  	AND A.USERID=#{userid}
			  	</if>
			  	<if test='lessee != null and !"".equals(lessee)'>
				  	AND A.LESSEE=#{lessee}
		 	 	</if>
			  	<if test='lease != null and !"".equals(lease)'>
				  	AND A.LEASE=#{lease}
			  	</if>
			  	<if test='name != null and !"".equals(name)'>
				  	AND C.NAME=#{name}
			  	</if>
			  	<if test='plate_num != null and !"".equals(plate_num)'>
				  	AND C.PLATE_NUM=#{plate_num}
			  	</if>
			  	<if test='type != null and !"".equals(type)'>
				  	AND C.TYPE=#{type}
			  	</if>
			  	<if test='origin != null and !"default".equals(origin)'>
				  	AND C.ORIGIN=#{origin}
			  	</if>
			  	<if test='usedept != null and !"".equals(usedept)'>
				  	AND A.USEDEPT=#{usedept}
			  	</if>
			  	<if test='isexpire != null and !"default".equals(isexpire)'>
				  	AND A.ISEXPIRE=#{isexpire}
			  	</if>
		  	</where>
		    LIMIT #{startRow},#{pageSize}
	</select>
	<!-- 统计FinishBook的数量 -->
	<select id="countFinishSBook" parameterType="com.tlal.vms.vms.func.user.finishbook.action.UserFinishSBookSearch" 
			resultType="java.lang.Integer">
		SELECT COUNT(*)  
			FROM FINISHSBOOK A,USER B,CAR C
			<where>
				A.USERID = B.USERID AND A.CARID = C.CARID
				<if test='userid != null and !"default".equals(userid)'>
				  	AND A.USERID=#{userid}
			  	</if>
			  	<if test='lessee != null and !"".equals(lessee)'>
				  	AND A.LESSEE=#{lessee}
		 	 	</if>
			  	<if test='lease != null and !"".equals(lease)'>
				  	AND A.LEASE=#{lease}
			  	</if>
			  	<if test='name != null and !"".equals(name)'>
				  	AND C.NAME=#{name}
			  	</if>
			  	<if test='plate_num != null and !"".equals(plate_num)'>
				  	AND C.PLATE_NUM=#{plate_num}
			  	</if>
			  	<if test='type != null and !"".equals(type)'>
				  	AND C.TYPE=#{type}
			  	</if>
			  	<if test='origin != null and !"default".equals(origin)'>
				  	AND C.ORIGIN=#{origin}
			  	</if>
			  	<if test='usedept != null and !"".equals(usedept)'>
				  	AND A.USEDEPT=#{usedept}
			  	</if>
			  	<if test='isexpire != null and !"default".equals(isexpire)'>
				  	AND A.ISEXPIRE=#{isexpire}
			  	</if>
		  	</where>
	</select>
	<!-- 根据userId查找FinishBook的记录 -->
	<select id="findFinishSBookByUserId" parameterType="java.lang.String" resultType="com.tlal.vms.vms.func.user.finishbook.entity.FinishSBook">
		SELECT IDSBOOK,USERID,CARID,LESSEE,LEASE,STARTDATE,ENDDATE,USEDEPT,ISEXPIRE,ACTUAL_DATE,DRIVER,COMMENT
			FROM FINISHSBOOK
			WHERE USERID = #{userid}
	</select>
	<!-- 根据carid查看租用情况 -->
	<select id="findFinishSBookByCarid" parameterType="java.lang.String" resultType="com.tlal.vms.vms.func.user.finishbook.entity.FinishSBook">
		SELECT IDSBOOK,USERID,CARID,LESSEE,LEASE,STARTDATE,ENDDATE,USEDEPT,ISEXPIRE,ACTUAL_DATE,DRIVER,COMMENT
			FROM FINISHSBOOK
			WHERE CARID = #{carid}
	</select>
</mapper>
